[submodule "Bugs"]
	path = Bugs
	url = https://github.com/anon-atlas/Bugs.git
[submodule "Trees"]
	path = Trees
	url = https://github.com/anon-atlas/Trees.git
[submodule "Leaf"]
	path = Leaf
	url = https://github.com/anon-atlas/Leaf.git
[submodule "Java"]
	path = Java
	url = https://github.com/anon-atlas/Java
